.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  width: 100px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phoneContainer {
  display: flex;
}

.label {
  text-align: right;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  display: inline-block;
}
.input {
  background-color: white;
  width: 200px;
  border-radius: 8px;
  border: 2px solid black;
}
.inputPadding {
  padding-bottom: 5px;
}
